{% extends "layout.html" %}
{% block body %}
<div class="row">
<section class="py-5 text-center col-sm-3">

    <nav class="navbar navbar-light bg-light">
      <form class="form-inline"  action="/search">
        <input name="query" class="form-control mr-sm-2" type="search"  placeholder="поиск">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Найти</button>
      </form>
    </nav>
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <ul class="list-group">
            {% for item in notebooks %}
                <li class="list-group-item" onclick="location.href='{{ item['task'] }}'" style="cursor: pointer">
                  {{ item['name'] }}
                </li>
            {% endfor %}
        </ul>

    </div>

</section>
<section class="py-5 text-center col-sm-9">
      <div class="container">
        <div class="row">
            <div class="col-sm-8"><h4 class="text-left">{{notebook['name']}}</h4></div>

           <div class="col-sm-4">
               <button disabled class="btnc text-primary text-left col-sm-12">  Обновлено: {{notebook['update_date']}} </button>
               <button class="col-sm-12" onclick="location.href='/notebook/update/{{notebook['file']}}'" class="btn btn-default">обновить</button>
           </div>

            <div style="width: 100%; border-bottom: 2px solid #ccd8ff; margin-top: 20px"></div>

            <div class="col-sm-12"><br></div>
            <div class="col-sm-12">
                {{body |safe}}
            </div>
        </div>
      </div>
</section>
</div>
<style>
    .btnc {
        background: #3776f8;
        color: white !important;
        font-weight: bold;
        border: 1px solid #515f8c;
    }
    div#notebook {
       text-align: left;
    }
     #notebook h1,#notebook h2,#notebook h3,#notebook h4,#notebook h5,#notebook h6 {
        margin-top: 74px;
        margin-bottom: 31px;
     }
</style>
{% endblock %}



