{% extends "layout.html" %}
{% block body %}
<section class="py-5 text-center">
      <div class="container">
        <div class="row">
            <div class="col-sm-8"><h4 class="text-left">{{notebook['name']}}</h4></div>

           <div class="col-sm-4">
               <button disabled class="btnc text-primary text-left col-sm-12">  Обновлено: {{notebook['update_date']}} </button>
               <button class="col-sm-12" onclick="location.href='/notebook/update/{{notebook['file']}}'" class="btn btn-default">обновить</button>
           </div>

            <div style="width: 100%; border-bottom: 2px solid #ccd8ff; margin-top: 20px"></div>

            <div class="col-sm-12"><br></div>

            <div class="col-sm-12">
                {{body |safe}}
            </div>
        </div>
      </div>
</section>
<style>
    .btnc {
        background: #3776f8;
        color: white !important;
        font-weight: bold;
        border: 1px solid #515f8c;
    }
</style>
{% endblock %}



