{% extends "layout.html" %}
{% block body %}
<section class="py-5 text-center">
      <div class="container">
        <h2 class="text-center">Результаты поиска</h2>
        <div class="row">

            <table class="table">
            {% for item in notebooks %}
                <tr>
                    <td><a href="/notebook/{{ item['file'] }}">{{ item['name'] }}</a></td>

                    <td><a href="{{ item['task'] }}">{{ item['task'] }}</a></td>
                </tr>
            {% endfor %}
            </table>

        </div>
      </div>
</section>
{% endblock %}





